$mainColor: #3d4066;

.signInContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d4066;
  .signInSection {
    width: 50%;
    gap: 2rem;
    padding: 5% 0;
    //
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //
    box-shadow: 0 0 15px 17px rgba(255, 255, 255, 0.397);
    font-family: "Nunito", sans-serif;
    border-radius: 5%;
    //
    background-image: url(../../Img/bg-login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .signInNavigation {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.75em;
      a {
        font-size: 1.25rem;
        text-decoration: none;
        color: $mainColor;
        font-weight: 600;
      }
      .btn {
        font-size: 0.75rem;
        border: 1px solid $mainColor;
      }
      .btn-sign-up {
        background-color: $mainColor;
        color: white;
      }
    }
    .signInContent {
      text-align: center;
      padding: 1.5em 0;
      background-color: rgba(255, 255, 255, 0.397);
      border-radius: 10%;
      h2 {
        color: $mainColor;
        font-weight: 600;
      }
      .signInInput {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        .signInType {
          position: relative;
          margin: 1rem 3rem;
          input {
            border: none;
            outline: none;
            border-radius: 10px;
            border-bottom: 3px solid $mainColor;
            //
            background-color: transparent;
            //
            width: 100%;
            padding: 2% 5%;
            font-size: 1.15rem;
          }
          span {
            position: absolute;
            color: red;
            font-size: 2rem;
            right: 5%;
            top: 5%;
            font-weight: 900px;
          }
        }
      }
      .signInSubmit {
        display: flex;
        flex-direction: column;
        .showPass {
          display: flex;
          padding: 0.5rem 3.5rem;
          align-items: center;
          gap: 2rem;
          label {
            margin: 0;
            letter-spacing: 0.1em;
            word-spacing: 0.15rem;
          }
        }
        button {
          margin: 0.5rem 3rem;
          border: none;
          outline: none;
          color: white;
          padding: 2% 0;
          border-radius: 10px;
          background: $mainColor;
        }
        a {
          margin-top: 1%;
          color: $mainColor;
          text-decoration: underline;
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
  }
}
