.clientPage{
    margin-top: 80px;
    padding: 50px 0;
   
    div{
        position: relative;
        margin: 10px 0;
        i{
            position: absolute;
            left: 10px;
            bottom: 5px;
            font-size: 20px;
        }
        input{
            width: 100%;
            padding-left: 35px;
        }
    }
    button{
        width: 100%;
    }
}